[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
google-cloud-secret-manager = "*"
pdfkit = "*"
pandas-gbq = "*"
gspread = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
